# **Pandas** LIBRARY EXERCISES

Some exercises to show functions or utilities of the numpy library. For more information you can visit: https://pandas.pydata.org/docs/

**Exercise 1:**  Show the first 10 samples of the dataset.

In [6]:
from google.colab import drive
drive.mount('/content/drive')
import numpy as np
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bmw.csv') #direccion de TU csv, hay files de ejemplo en mi github
df.head(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
5,5 Series,2016,14900,Automatic,35309,Diesel,125,60.1,2.0
6,5 Series,2017,16000,Automatic,38538,Diesel,125,60.1,2.0
7,2 Series,2018,16250,Manual,10401,Petrol,145,52.3,1.5
8,4 Series,2017,14250,Manual,42668,Diesel,30,62.8,2.0
9,5 Series,2016,14250,Automatic,36099,Diesel,20,68.9,2.0

In [7]:
#primer apartado
print(df[0:10]) # otra forma

       model  year  price transmission  mileage fuelType  tax   mpg  \
0   5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1   6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2   5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3   1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4   7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
5   5 Series  2016  14900    Automatic    35309   Diesel  125  60.1
6   5 Series  2017  16000    Automatic    38538   Diesel  125  60.1
7   2 Series  2018  16250       Manual    10401   Petrol  145  52.3
8   4 Series  2017  14250       Manual    42668   Diesel   30  62.8
9   5 Series  2016  14250    Automatic    36099   Diesel   20  68.9

   engineSize
0         2.0
1         2.0
2         3.0
3         1.5
4         3.0
5         2.0
6         2.0
7         1.5
8         2.0
9         2.0

**Exercise 2:**  Obtain the data series corresponding to the year attribute, and then obtain the datatype and the number of samples of such series.

In [8]:
#apartado 2
year=df['year']
year_type = year.dtype;
nsample = len(year)
print("the year atribute is:", year_type)
print("the number of samples of such series: ", nsample)

the year atribute is: int64
the number of samples of such series:  10781

**Exercise 3:**  Obtain the data series corresponding to the mileage attribute, and then select the samples whose position in the series are multiples of 7.

In [9]:
#apartado3
mileage = df['mileage']
sample = mileage[::7];
print("data series corresponding to the mileage a tribute whose position in the\
 series are multiples of 7 is: \n", sample)

data series corresponding to the mileage a tribute whose position in the series are multiples of 7 is:
 0        67068
7        10401
14       19057
21       78957
28       96213
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1541, dtype: int64

**Exercise 4:** Obtain the data series corresponding to the mileage attribute, and then select
randomly 40% of the samples of the series.

In [10]:
mileage_series = df['mileage']
random_samples = mileage_series.sample(frac=0.4, random_state=np.random.randint(10000))
print(random_samples)

10595    44585
2648       112
4762       100
7603     53000
1963     26841
         ...
9166      1221
4057      7102
8631     26267
9022     25328
10001    17000
Name: mileage, Length: 4312, dtype: int64

**Exercise 5:** Obtain the data series corresponding to the mileage attribute, and then select the samples with a value lower than 20000 of that series.

In [11]:
#apartado 5
mileage = df['mileage']
sample = mileage[mileage < 20000]
print(sample)

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

**Exercise 6:**  Obtain the data series corresponding to the mpg attribute, and then sort the samples of the series.

In [12]:
 #apartado 6
mpg = df['mpg']
sorted_mpg = mpg.sort_values()
print(sorted_mpg)

6965      5.5
6172      5.5
6132      5.5
6198      5.5
2116      5.5
        ...
7299    470.8
3628    470.8
6070    470.8
2352    470.8
7347    470.8
Name: mpg, Length: 10781, dtype: float64

**Exercise 7:** Compute the mean, the standard deviation, the maximum and the minimum of the engineSize attribute.

In [13]:
#apartado 7
engenieSize = df['engineSize']
mean_engenieSize = engenieSize.mean()
dsv_stan_engenieSize = engenieSize.std()
max_engenieSize = engenieSize.max()
min_engenieSize = engenieSize.min()
print('mean: ', mean_engenieSize)
print('Standard Deviation: ' , dsv_stan_engenieSize )
print('Maximum: ', max_engenieSize)
print('Minimum: ', min_engenieSize)

mean:  2.1677673685186902
Standard Deviation:  0.5520537772398375
Maximum:  6.6
Minimum:  0.0

**Exercise 8:**  Obtain the number of rows and columns of the dataset, and the third sample starting from the end.

In [14]:
#apartado 8
num_row, num_col = df.shape
Example = df.iloc[-3]
print('Number of columns:', num_col)
print('Number of rows:', num_row)
print('The third sample starting from the end:\n', Example)

Number of columns: 9
Number of rows: 10781
The third sample starting from the end:
 model            3 Series
year                 2017
price               13100
transmission       Manual
mileage             25468
fuelType           Petrol
tax                   200
mpg                  42.8
engineSize            2.0
Name: 10778, dtype: object

**Exercise 9:**  Extract the mileage, price, and mpg attributes to a new DataFrame, and then choose 20% of the samples at random.

In [17]:
#apartado 9
atributes_df = df[['mileage', 'price', 'mpg']]
random_samples = atributes_df.sample(frac=0.2, random_state=np.random.randint(10e5))
print(random_samples)

       mileage  price   mpg
5433        10  48155  44.8
2418      5234  30920  68.9
1551     21470  18512  65.7
7200     29286  22875  37.7
625       4125  31898  50.4
...        ...    ...   ...
5586       202  39991  37.2
5392      2361  23000  41.5
5658      7800  31990  44.8
10628     9420  23000  50.4
94       14138  12498  72.4

[2156 rows x 3 columns]

**Exercise 10:**  Obtain the samples whose value of the mileage attribute is lower than 10000 and the value of the mpg attribute is higher than 40.

In [18]:
#apartado10
samples = df[(df['mileage'] < 10000) & (df['mpg'] > 40)]
print(samples)

           model  year  price transmission  mileage fuelType  tax   mpg  \
131     1 Series  2017  14600    Automatic     5615   Petrol  145  58.9
148     1 Series  2016  13700       Manual     8719   Petrol  125  52.3
153     1 Series  2016  13750    Automatic     8707   Petrol   30  55.5
166           X1  2020  31498    Semi-Auto     1560   Diesel  145  60.1
167     2 Series  2020  27998       Manual     1580   Petrol  150  43.5
...          ...   ...    ...          ...      ...      ...  ...   ...
10713   3 Series  2020  23899    Automatic     1255   Petrol  150  47.9
10739   3 Series  2019  23987    Automatic     1049   Petrol  150  47.9
10740   3 Series  2019  23454    Automatic     3551   Petrol  150  47.9
10741   3 Series  2019  23599    Automatic     2784   Petrol  145  47.9
10742   3 Series  2019  23499    Automatic     5634   Petrol  145  47.9

       engineSize
131           1.5
148           1.5
153           1.5
166           2.0
167           1.5
...           ...
10713         2.0
10739         2.0
10740         2.0
10741         2.0
10742         2.0

[3079 rows x 9 columns]

**Exercise 11:**   Modify the values of the model attribute so that the " x Series" values are changed to "Series x", where x is a number between 1 and 9.

In [19]:
#apartado11
df['model'] = df['model'].replace(r'([1-9]) Series', r'Series \1', regex=True)
print(df['model'])

0         Series 5
1         Series 6
2         Series 5
3         Series 1
4         Series 7
           ...
10776           X3
10777     Series 5
10778     Series 3
10779     Series 1
10780           X1
Name: model, Length: 10781, dtype: object

**Exercise 12:**  Insert a new sample with the following values: model=" 3 Series", year=2023, price = 22572, transmission = "Automatic", mileage = 74120, fuelType = "Diesel", tax = 160,  mpg = 58.4, engineSize = 2.0

In [25]:
#apartado12
print(df.tail(2))
new_sample = pd.DataFrame({
    'model': [" 3 Series"],
    'year': [2023],
    'price': [22572],
    'transmission': ["Automatic"],
    'mileage': [74120],
    'fuelType': ["Diesel"],
    'tax': [160],
    'mpg': [58.4],
    'engineSize': [2.0]
})

df = df.append(new_sample, ignore_index=True)
print(df.tail(2))
#df = df.drop(df.tail(1).index) to erase the last one

           model  year  price transmission  mileage fuelType  tax   mpg  \
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4
10782   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
10781         2.0
10782         2.0
           model  year  price transmission  mileage fuelType  tax   mpg  \
10782   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4
10783   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
10782         2.0
10783         2.0

<ipython-input-25-8df6ecedc492>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_sample, ignore_index=True)

**Exercise 13:**  Convert the DataFrame into a numpy ndarray and print out the data type of the obtained ndarray.

In [26]:
#apartado13
ndarray = df.values
print("The array: \n", ndarray)
print("the data type of the obtained ndarray \n", type(ndarray))

The array:
 [[' Series 5' 2014 11200 ... 125 57.6 2.0]
 [' Series 6' 2018 27000 ... 145 42.8 2.0]
 [' Series 5' 2016 16000 ... 160 51.4 3.0]
 ...
 [' 3 Series' 2023 22572 ... 160 58.4 2.0]
 [' 3 Series' 2023 22572 ... 160 58.4 2.0]
 [' 3 Series' 2023 22572 ... 160 58.4 2.0]]
the data type of the obtained ndarray
 <class 'numpy.ndarray'>

**Exercise 14:**  Compute for each sample the average mileage per year.

In [27]:
df['AverageMileage'] = df['mileage'] / (pd.datetime.now().year - df['year'])

print(df)

           model  year  price transmission  mileage fuelType  tax   mpg  \
0       Series 5  2014  11200    Automatic    67068   Diesel  125  57.6
1       Series 6  2018  27000    Automatic    14827   Petrol  145  42.8
2       Series 5  2016  16000    Automatic    62794   Diesel  160  51.4
3       Series 1  2017  12750    Automatic    26676   Diesel  145  72.4
4       Series 7  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10779   Series 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4
10782   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4
10783   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize  AverageMileage
0             2.0     7452.000000
1             2.0     2965.400000
2             3.0     8970.571429
3             1.5     4446.000000
4             3.0     4394.888889
...           ...             ...
10779         2.0     5000.000000
10780         2.0     9905.333333
10781         2.0             inf
10782         2.0             inf
10783         2.0             inf

[10784 rows x 10 columns]

<ipython-input-27-f540d923748a>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['AverageMileage'] = df['mileage'] / (pd.datetime.now().year - df['year'])